.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 10px;
}

mat-card{
    /* background-image: linear-gradient(to top,#ff9999,#ff6666); */
    background: rgb(180,58,151);
background: linear-gradient(90deg, rgba(180,58,151,0.9248074229691877) 0%, rgba(234,44,109,0.9332107843137255) 50%, rgba(252,69,146,0.8855917366946778) 100%);
}

@media screen and (min-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        grid-gap: 10px;
    }
}


.avtar {
    background: lightseagreen;
    display: flex;
    justify-content: center;
}

span {
    position: relative;
    top: 12px;
    font-weight: bold;
}