
/* 
body {  
    background: #1d1f20;
    padding: 16px;
  }
  
  canvas {
    border: 1px dotted red;
  }
  
  
  .main-container {
    display: flex;
    justify-content: space-between;
  }

  .chart-container {
    height: 150px;
    flex: 0 0 auto;
    width: 30%;
  }
  
  
  .main-container > div {
      padding: 0px 10px;
  } */